.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6 {
  &:hover {
    fill: #333;
  }

  cursor: pointer;
}

.hide {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  // text-align: center;
  position: absolute;
  // margin: 0 auto;
  // position: absolute;
  top: 0%; /* position the top  edge of the element at the middle of the parent */
  right: 0%;
  bottom: 0%;
  left: 0%;
  padding: 10px 20px;
  border: 1px solid #644666;
  // font-size: 12px;
}
// .russia-txt {
//   position: absolute;
//   top: 0%; /* position the top  edge of the element at the middle of the parent */
//   right: 0%;
//   bottom: 0%;
//   left: 0%; /* position the left edge of the element at the middle of the parent */

//   // transform: translate(-50%, -50%);
// }
// .indo-txt {
//   position: absolute;
//   top: 0%; /* position the top  edge of the element at the middle of the parent */
//   left: 0%; /* position the left edge of the element at the middle of the parent */

//   // transform: translate(-50%, -50%);
// }
