.vjs-icon-hd .vjs-menu-icon:before {
  content: '\f110';
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal;
  font-size: 15em !important;
  line-height: 1.67em;
}

.vjs-icon-hd .vjs-icon-hd-label {
  font-size: 10em;
  line-height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: inherit;
}

.vjs-icon-hd .vjs-menu .vjs-menu-content {
  width: 14em;
  left: 50%; /* Center the menu, in it's parent */
  margin-left: -2em; /* half of width, to center */
}

.vjs-icon-hd .vjs-menu li {
  text-transform: none;
  font-size: 11em;
}

button.vjs-menu-button.vjs-menu-button-popup.vjs-icon-hd.vjs-button {
  font-size: 20px;
}
